dist
*classes
target/
build/
build_eclipse/
.gradle/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
patch-process/*
.idea
.svn
.classpath
/.metadata
/.recommenders
*~
*#
.#*
rat.out
TAGS
*.iml
.project
.settings
kafka.ipr
kafka.iws
.vagrant
Vagrantfile.local
/logs
.DS_Store

config/server-*
config/zookeeper-*
core/data/*
gradle/wrapper/*
gradlew
gradlew.bat

results
tests/results
.ducktape
tests/.ducktape
tests/venv
.cache

docs/generated/

.release-settings.json

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


### gradle ###
.gradle/
algorithms/bin/**
algorithms/out/**

core/src/main/scala/log4j.properties